<div class="widgetDraw">
    <div class="drawMessage">These tools allow you to draw graphics on the map.</div>
    <div class="drawTools">
        <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: drawPoint">Point</button>
        <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: drawPolyline">Line</button>
        <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: drawPolygon">Polygon</button>
    </div>
    <div class="drawButtons">
        <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: drawCancel">Cancel</button>
        <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: drawClear">Clear All</button>
    </div>
</div>


